<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <%- include('layouts/navbar'); -%>
	<section class="hero-wrap js-fullheight">
    <div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
				<div class="col-lg-8 col-md-6 ftco-animate d-flex align-items-center">
					<div class="text text-center">
						<span class="subheading">Chào, Tôi là </span>
							<h1>Richard Annowit</h1>
				  			<h2>Tôi là một
								<span
									     class="txt-rotate"
									     data-period="2000"
									     data-rotate='[ "Web Designer", "Developer", "Photographer", "Marketer", "Blogger" ]'>
								</span>
							</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="mouse">
			<a href="#" class="mouse-icon">
				<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
			</a>
		</div>
  </section>
	<%- include('layouts/footer'); -%>
		<!-- loader -->
	<%- include('layouts/loader'); -%>
	<%- include('layouts/scripts'); -%>
</body>
</html>